option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "musicbasti.settings"
    "PYTHONPATH": "/opt/python/ondeck/app/musicbasti:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: musicbasti/wsgi.py
    StaticFiles: "/static/=staticfiles/"
    NumProcesses: 3
    NumThreads: 20